<div class="container">

  <h1>Sign Up</h1>
  <legend>Please fill in your details</legend>
  <fieldset class= "form-group">
      <%= form_tag '/user/new', method: 'post' do %>
        <label class= "form-control-label" for="">email</label>
        <input class= "form-control" name="email" type="email" placeholder="name@domain.com">
        <label class= "form-control-label" for="">password</label>
        <input class= "form-control form-control-danger" type="password" name="password">
        <label class= "form-control-label" for="">First Name</label>
        <input class= "form-control" type="text" name="first_name">
        <label class= "form-control-label" for="">Last Name</label>
        <input class= "form-control" type="text" name="last_name">
        <button class="btn btn-primary">Create</button>
      <% end %>
  </fieldset>
</div>
