

<script id="card-template" type="handlebars">
  <header>
    <h3>{{first_name}}</h3>

    <h3>{{last_name}}</h3>

    <h3>{{created_at}}</h3>
  </header>
  <div class="image">
    <img src="{{image_url}}" alt="">
  </div>
  <div class="text">
    <p>{{body}}</p>
  </div>
  <div class="map">
  </div>
  <footer>
    <h5>{{country}}</h5>
    <h5>{{city}}</h5>
    <button>Add to mood board</button>
  </footer>


</script>
