<script id="dashboard-card-template" type="handlebars">

  <header class="dashboard" style="">
    <h3 class="dashboard">{{created_at}}</h3>
  </header>
  <div class="image notedit">
    <img src="{{image_url}}" alt="">
  </div>
  <div class="dashboard notedit" style="">
    <p class="dashboard">{{body}}</p>
  </div>
  <footer class="dashboard" style="">
    <h5 class="dashboard">{{country}}</h5>
    <h5 class="dashboard">{{city}}</h5>
    <button class="edit notedit">Edit</button>

    <form action="/api/cards/{{id}}" method="post" class="isedit">
    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <input type="hidden" name="card_id" value="{{id}}" id="cardID">
    <input type="text" name="image_url" value="{{image_url}}">
    <input type="textarea" name="body" value="{{body}}">
    <button class="">Save</button>
    </form>

  </footer>

</script>
