<script id="dashboard-card-template" type="handlebars">

  <header class="dashboard" style="">
    <h3 class="dashboard">{{created_at}}</h3>
  </header>
  <div class="image">
    <img src="{{image_url}}" alt="">
  </div>
  <div class="dashboard" style="">
    <p class="dashboard">{{body}}</p>
  <footer class="dashboard" style="">
    <h5 class="dashboard">{{country}}</h5>
    <h5 class="dashboard">{{city}}</h5>
    <button class="dashboard edit"> Edit </button>
  </footer>

</script>
