<script id="dashboard-card-template" type="handlebars">

  <header class="dashboard" style="">
  </header>
  <div class="image notedit img-rounded">
    <img src="{{image_url}}" alt="">
  </div>
  <div class="dashboard notedit text" style="">
    <p class="dashboard">{{body}}</p>
  </div>
  <footer class="dashboard" style="">
    <h5 class="dashboard location">{{city}} {{country}}</h5>
    <button class="edit notedit btn btn-success right">Edit</button>

    <form action="/api/cards/{{id}}" method="post" class="isedit">
    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <input type="hidden" name="card_id" value="{{id}}" id="cardID">
    <label for="">Image url</label>
    <input type="text" class="form-control" name="image_url" value="{{image_url}}">
    <label for="">Description</label>
    <textarea class="form-control" name="body" rows="20" cols="4" value="">{{body}}</textarea>
    <button class="btn btn-success right">Save</button>
    </form>

  </footer>

</script>
