<script id="moodboard-card-template" type="handlebars">

  <header class="moodboard" style="">
  </header>
  <div class="image">
    <img src="{{image_url}}" alt="">
  </div>
  <div class="moodboard text" style="">
    <p class="moodboard">{{body}}</p>
  </div>
  <footer class="moodboard" style="">
    <h5 class="dashboard location">{{city}} {{country}}</h5>
  </footer>

</script>
