<hr>
<h1>dashboard</h1>
<hr>
<h3>trips</h3>
<div>eg Germany '14</div>
<div>eg Mexico '15</div>
<div>eg Italy '16</div>
<hr>
<h3>Cards All</h3>
<div>cards</div>
<div>cards</div>
<div>cards</div>
<div>cards</div>
<div>cards</div>
<hr>
<h3>other user cards</h3>
<div>cards</div>
<div>cards</div>
<div>cards</div>
<div>cards</div>
<div>cards</div>
