
<section class="fine-pic">
  <div class="fine-back center-stuff">
    <%=image_tag "TRipr.png", class:"logo" %>
    <h4>Record your travels, or find your next adventure</h4>
    <input type="text" class="search form-control" placeholder="Enter in your next destination">
    <button class="btn btn-success search-btn">Search</button>
  </div>
</section>


<div class="cards_container center-stuff container-fluid">
</div>


<%= render 'card_template' %>

<script>
$(document).ready(function() {

  var $searchTerm = '';
  var $limit;


  var makeAJAXCall = function (){
  $offset = $limit - 10;
  $.ajax({
    method: 'GET',
    url: '/api/cards/'
   }).done(function(result){

    selection = [];
    cards = [];

    if ($searchTerm != ''){
      i=0;
      while(result[i] != undefined){
        if(result[i].city === $searchTerm || result[i].country === $searchTerm){
          selection.push(result[i]);
        }
        i++;
      }

    }
    else {
      selection = result;
    }


    for(i=$offset; i< $limit; i++){
      if(result[i] != undefined){
        cards.push(new Card(selection[i]));
      }
    }



    cards.forEach(function(card){
      if (card.attributes.id != undefined){
        var view = new CardItemView({model: card});
        $('.cards_container').append(view.render().el);
        //debugger;
      }
    });

     $limit += 10;

   });

  }

  // load first ten elements on page load
  $limit =10;
  makeAJAXCall();

  $(".search-btn").click(function(event){

    event.preventDefault();

    // make this case insensitive
    $searchTerm = $('.search').val();
    $limit = 10;
    $(".cards_container").empty();

  //  debugger;
    makeAJAXCall();

  });


  $(window).scroll(function() {
    if($(window).scrollTop() + $(window).height() == $(document).height()) {

      makeAJAXCall();

    }

  });

// reload on click, extract information from search bar
// outside of document ready? should only be used after the document is
// ready anyway

});
</script>
