<%= form_tag '/', method: 'post' do %>
  <label for="">email</label>
  <input type="text" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>login</button>
<% end %>

<%= form_tag '/new', method: 'get' do %>
  <button>Sign Up</button>
<% end %>

<div>
  <!-- <img src="/pages/map" alt=""> -->
  <%= form_tag '/', method: 'post' do %>
    <input type="text" name="search">
    <button>Search</button>
  <% end %>
</div>

<div class="cards_container">
</div>

<%= render 'card_template' %>

<!-- <script>
$(document).ready(function() {

  $.ajax({
    url: 'http://localhost:3000/api/cards/',
    method: 'GET'
  }).done(function(data){
    var cards = [new Card(data)];  //????


debugger;

    cards.forEach(function(card){
      var view = new CardItemView({model: card});
      $('.cards_container').append(view.render().el);
    });



  });

});
</script> -->
