<h1>Moodboard</h1>
<div id="mapPin"></div>
<input type="hidden" value=" <%= @user_id %> " id="user_id">


<div class="cards_container  container-fluid">

</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDos2y09tthYvRB3zKJ53njpqZkSFtX8u4&callback=initMoodPinMap">
</script>

<%= render 'moodboard_card_template' %>

<script>
$(document).ready(function() {

  var user_id = <%=session[:id] %>;

  var $id = $('#user_id').val();
  $.ajax({
    url: '/api/moods/'+$id,
    method: 'GET'
  }).done(function(data){

    var cards = [];

    for(var i=0; i<data.length; i++){
        cards.push(new Card(data[i]));
    };

    cards.forEach(function(card){
      var view = new MoodboardCardItemView({model: card});
      $('.cards_container').append(view.render().el);
    });

  });
});

</script>
