<h1>HI THIS IS MOODBOARD</h1>
<button id="create_new_card">CREATE NEW CARD</button>
<div id="new_card_container"></div>
<!-- /new_card_form/<%= @trip_id %> -->
<input type="hidden" value=" <%= @user_id %> " id="user_id">
<div id="mapPin"></div>

<div class="cards_container  container-fluid">
</div>

<script id="new_card_form"type="BOOGY WOO DO">
<div id="map"></div>
  <form class="new-card-form" action="">
    <label class="new-" for="">Card Name</label>
    <input type="text" name="name" value="" class="new-card-name">
    <label for="">Image Url</label>
    <input type="text" name="image_url" value="" class="new-card-image">
    <button class="new_card_action">SUBMIT</button>
  </form>
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDos2y09tthYvRB3zKJ53njpqZkSFtX8u4&callback=initMoodPinMap">
</script>

<%= render 'moodboard_card_template' %>

<script>
$(document).ready(function() {

  var user_id = <%=session[:id] %>;

  var $id = $('#user_id').val();
  $.ajax({
    url: '/api/moods/'+$id,
    method: 'GET'
  }).done(function(data){

    var cards = [];

    for(var i=0; i<data.length; i++){
        cards.push(new Card(data[i]));
    };

    cards.forEach(function(card){
      var view = new MoodboardCardItemView({model: card});
      $('.cards_container').append(view.render().el);
    });

  });
});

</script>
