<h1>Create Card</h1>
<%= form_tag '/api/cards', method: 'post' do %>
  <input type="hidden" name="lat" id="latitude">
  <input type="hidden" name="long" id="longitude">
  <input type="hidden" name="country" id="country">
  <input type="hidden" name="city" id="city">
  <input type="hidden" name="trip_id" value="<%=params[:id]%>" id="tripId">
  <label for="">Image URL</label>
  <input type="text" name="image_url">
  <label for="">Description</label>
  <input type="textarea" name="body">
  <button>Submit</button>
<% end %>

<hr>

<div id="map"></div>
<!-- async defer -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDos2y09tthYvRB3zKJ53njpqZkSFtX8u4&callback=initMap">
</script>
