<h1>Create Card</h1>
<%= form_tag '/api/cards', method: 'post' do %>
  <label for="">Location</label>
  <label for="">Long:</label>
  <input type="float" name="long">
  <label for="">Lat:</label>
  <input type="float" name="lat">
  <label for="">Image URL</label>
  <input type="text" name="image_url">
  <label for="">Description</label>
  <input type="text" name="body">
  <button>Submit</button>
<% end %>

<hr>

<div id="map"></div>
<!-- async defer -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDos2y09tthYvRB3zKJ53njpqZkSFtX8u4&callback=initMap">
</script>
