.card {
  width: 350px;
  border: 1px solid lightgrey;
  /*border-radius: 5px;*/
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  padding: 15px;
  float: left;
  /*display: flex;*/
  /*box-shadow: 2px 2px 2px #888888;*/
}

.card img {
  /*max-width: 100%;*/
  width: 320px;
  height: 180px;
}

.card:hover {
  background-color: lightgrey;
}

.card:hover img {
  -webkit-filter: grayscale(100%); /* Safari */
  filter: grayscale(100%);
}

.text {
  padding: 15px;
  display: inline-block;
  /*border: 1px solid grey;
  margin: 10px;*/
}

.image {
  display: inline-block;
}

footer {
  display: inline-block;
}

.full_view {
  /*position: absolute;*/
}

.card button {
  margin: 5px;
}
/*.full_view img {
  height: 320px;
}*/


.location {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
}

.right {
  float: right;
}

/*.left {
  float: left;
}*/


.logo {
  width: 110px;
  margin: 10px;
}


.my-trips {
 text-align: center;
 background-color: lightgrey;
}

.my-trips form {
  display: inline-block;
  vertical-align: middle;
}

.dashboard-trip {

  display: inline-block;
  vertical-align: middle;
  margin: 10px 30px;
}
