.dashboard-header,
.my-trips,
.my-cards,
.mood-board {
  padding-bottom: 10px;
  border-bottom: #d1d1d1 solid 0.1px;
  padding-bottom: 20px;
}

.mood-board a p {
  display:none;
}

.mood-board a:hover p {
  display:block;
  font-style: italic;
}

.create-trip-btn {
  margin: 5px;
}

/*.dashboard-trip:hover {
  font-size: 2em;
}*/

footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
