.center-stuff{
  text-align: center;
}
.fine-back{
  background-color: rgba(255,255,255,0.8);
  padding: 5%;
  width: 70%;
  margin: 20px auto;
  border-radius: 5px;
  z-index: 3;
}
.fine-back input{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.fine-pic{
  padding: 20px;
  background-image: url("http://www.androidguys.com/wp-content/uploads/2016/05/summer-wallpaper-15.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
