.container {
  width: 80%;
}

#logo {
  font-size: 40px;
}

.form-inline {
  float: right;
}

#navbar{
  background-color: rgb(226, 220, 199);
};

/*#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
};*/

#navbar a:hover {
  background-color: #ddd;
  color: black;
};*/

/*.edit-form-group {
  width: 50%;
  text-align: center;
}*/
