#map{
  width: 70%;
  height:60%;
}
#mapPin{
  width: 70%;
  height:60%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
  display: inline-block;
}

.card img {
  max-width: 100%;
}

.text {
  padding: 10px;
}

.topnav {
  background-color: rgb(226, 220, 199);
  width: 90%
}
.topnav li{
  list-style: none;
  display: inline-block;
}
.logo {
  display: inline-block;
}
.left-side {
  display: inline-block;
}
.right-side {
  display: inline-block;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}



.topnav a:hover {
  background-color: #ddd;
  color: black;
  }

.card_image:hover {
  height: 50%;
  width: 50%;
}
