#map{
  width: 70%;
  height:60%;
}
#mapPin{
  width: 70%;
  height:60%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.card {
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
  display: inline-block;
}

.card img {
  max-width: 100%;
}

.text {
  padding: 10px;
}


.card_image:hover {
  height: 50%;
  width: 50%;
}
